spring:
  application:
    name: intelligent-code-app
  datasource:
    url: jdbc:mysql://localhost:3306/intelligent_code?useUnicode=true&characterEncoding=utf-8&useSSL=false
    username: root
    password: 123456
    driver-class-name: com.mysql.cj.jdbc.Driver
server:
  port: 8081
  servlet:
    context-path: /api

# springdoc-openapi
springdoc:
  group-configs:
    - group: 'default'
      paths-to-match: '/**'
      packages-to-scan: com.wzh.intelligentcodeapp.controller
